<section class="about-me" id="aboutme">
  <div class="info container">
    <h2 class="about-me-title animation">
      About
      <span class="about-me-title-span">me</span>
    </h2>
    <div class="about-me-container">
      <div class="my-img">
        <img
          srcset="./img/about-me-img.jpg 1x, ./img/about-me-img-2x.jpg 2x"
          src="./img/about-me-img.jpg"
          alt="my-picture"
          width="320"
          class="about-me-img animation"
        />
      </div>

      <div class="my-bio">
        <h3 class="info-title animation">BIO</h3>

        <p class="about-me-txt animation">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.<br />
          <br />Adaptable to both independent and team-oriented work, I
          collaborate seamlessly with colleagues, exchanging ideas and finding
          optimal solutions. My professional maturity enables me to navigate
          challenges and stressful situations with a calm demeanor, maintaining
          a consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
    </div>

    <div class="my-advantages">
      <div class="my-education">
        <h3 class="info-title animation">EDUCATION</h3>

        <ul class="about-me-list">
          <li class="about-me-item">
            <p class="about-me-txt animation">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="about-me-item">
            <p class="about-me-txt animation">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="about-me-item">
            <p class="about-me-txt animation">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </div>

      <div class="my-role">
        <h3 class="info-title animation">ROLE</h3>
        <ul class="about-me-list">
          <li class="about-me-item">
            <p class="about-me-txt animation">Frontend development</p>
          </li>
          <li class="about-me-item">
            <p class="about-me-txt animation">HeadlessCMS, Wordpress</p>
          </li>
          <li class="about-me-item">
            <p class="about-me-txt animation">Blender (enjoy)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
