<footer class="footer">
  <div class="container footer-container">
    <div class="content-footer">
      <a
        href="https://maksymovcharenko.github.io/Command-Projekt-JS/"
        target="_blank"
        ><p class="logo-footer">
          Lloyd<span class="logo-span">Jefferson.</span>
        </p></a
      >

      <ul class="soc-links-footer">
        <li class="soc-link-footer">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="inst-fb-linked-git-footer"
          >
            Instagram</a
          >
        </li>

        <li class="soc-link-footer">
          <a
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="inst-fb-linked-git-footer"
          >
            Facebook</a
          >
        </li>

        <li class="soc-link-footer">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            target="_blank"
            class="inst-fb-linked-git-footer"
          >
            Linkedin</a
          >
        </li>

        <li class="soc-link-footer">
          <a
            href="https://github.com/MaksymOvcharenko/Command-Projekt-JS"
            target="_blank"
            class="inst-fb-linked-git-footer"
          >
            GitHub</a
          >
        </li>
      </ul>
    </div>

    <div class="copyright">
      <p class="copyright-text">
        &copy; Copyright 2024. Made by LloydJefferson
      </p>
    </div>
  </div>
</footer>
