<header id="header">
  <div class="headers container">
    <a
      href="https://maksymovcharenko.github.io/Command-Projekt-JS/"
      class="logo"
      >Lloyd<span class="logo-green">Jefferson.</span></a
    >
    <label class="switch">
      <input type="checkbox" id="theme-toggle" />
      <span class="slider"></span>
    </label>
    <nav class="nav-menu">
      <ul class="menu-list">
        <li class="menu-item"><a href="#aboutme">About me</a></li>
        <li class="menu-item"><a href="#projects">Projects</a></li>
        <li class="menu-item"><a href="#works">Contacts</a></li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-btn" data-mobile-open>
      <svg class="mobile-menu-icon" width="22" height="16" id="icon_mobile">
        <use href="./img/icons.svg#icon-mob-menu"></use>
      </svg>
    </button>
  </div>
</header>
