<section class="hero" id="hero">
  <div class="heros container">
    <div class="hero-title-container animation">
      <h1 class="hero-title">
        Hello, I am
        <span class="greentext">Fullstack developer</span>
      </h1>
      <img
        src="/Command-Projekt-JS/assets/img1x-desktop-ava-7cd96f5d.jpg"
        srcset="./img/img1x-desktop-ava.jpg 1x, ./img/img2x-desktop-ava.jpg 2x"
        alt="hero-avatars"
        width="592"
        height="444"
        class="hero-avatars"
      />
    </div>
    <div class="hero-cont-desription animation">
      <div class="hero-link-design">
        <svg
          class="hero-arrow"
          width="30"
          height="16"
          viewBox="0 0 30 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 7C0.447715 7 -4.82823e-08 7.44772 0 8C4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM29.7071 8.7071C30.0976 8.31658 30.0976 7.68341 29.7071 7.29289L23.3431 0.92893C22.9526 0.538406 22.3195 0.538406 21.9289 0.92893C21.5384 1.31945 21.5384 1.95262 21.9289 2.34314L27.5858 8L21.9289 13.6569C21.5384 14.0474 21.5384 14.6805 21.9289 15.0711C22.3195 15.4616 22.9526 15.4616 23.3431 15.0711L29.7071 8.7071ZM1 9L29 9L29 7L1 7L1 9Z"
            fill="#00B068"
          />
        </svg>
        <a href="#projects"
          ><p class="hero-design-link">Order the project</p>
          <div class="hero-design-container"></div
        ></a>
      </div>

      <p class="hero-description">
        I work with people all over the world to create
        <span class="greentext">impressive</span> and
        <span class="greentext">functional websites</span> that reflect each
        client’s unique personality.
      </p>
    </div>
  </div>
  <div class="social-container">
    <ul class="social-list">
      <li class="social-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-link"
          target="_blank"
          >Instagram</a
        >
      </li>
      <li class="social-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-link"
          target="_blank"
          >Facebook</a
        >
      </li>
      <li class="social-item">
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          class="social-link"
          target="_blank"
          >Linkedin</a
        >
      </li>
      <li class="social-item">
        <a
          href="https://maksymovcharenko.github.io/Command-Projekt-JS"
          class="social-link"
          target="_blank"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
