<div class="modal-container">
  <div class="backdrop">
    <div class="modal">
      <button type="button" class="modal-close-btn" id="close-modal-btn">
        <svg class="modal-close-icon" width="24" height="24">
          <use href="./img/icons.svg#bbb"></use>
        </svg>
      </button>

      <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
      <p class="modal-description">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
