<section id="skillstech" class="skillstech">
  <div class="skillstech-container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="skills-inner">
      <ul class="skills-list">
        <li class="skills-line-top">HTML/CSS</li>
        <li class="skills-line-top">JavaScript</li>
        <li class="skills-line-top">React</li>
        <li class="skills-line-top">Node. js</li>
        <li class="skills-line-top">React Native</li>
        <li class="skills-line-top">Typescript</li>
      </ul>
      <ul class="skills-list">
        <li class="skills-line-top">HTML/CSS</li>
        <li class="skills-line-top">JavaScript</li>
        <li class="skills-line-top">React</li>
        <li class="skills-line-top">Node. js</li>
        <li class="skills-line-top">React Native</li>
        <li class="skills-line-top">Typescript</li>
      </ul>
    </div>
    <div class="skills-accen">
      <ul class="skills-list">
        <li class="skills-line-bott">JavaScript</li>
        <li class="skills-line-bott">React</li>
        <li class="skills-line-bott">Node. js</li>
        <li class="skills-line-bott">React Native</li>
        <li class="skills-line-bott">Typescript</li>
        <li class="skills-line-bott">HTML/CSS</li>
      </ul>
      <ul class="skills-list">
        <li class="skills-line-bott">JavaScript</li>
        <li class="skills-line-bott">React</li>
        <li class="skills-line-bott">Node. js</li>
        <li class="skills-line-bott">React Native</li>
        <li class="skills-line-bott">Typescript</li>
        <li class="skills-line-bott">HTML/CSS</li>
      </ul>
    </div>
  </div>
</section>
