@media screen and (min-width: 0px) {
  .FAQ {
    align-items: flex-start;

    padding-top: 80px;
    padding-bottom: 40px;
    position: relative;
  }

  .headline {
    /* max-width: 320px; */
    font-family: Impact;
    margin-bottom: 40px;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.23; /* 123.077% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .text-wrapper {
    color: var(--color-text);
  }

  .accordion-container {
    justify-content: center;
  }
  .ac {
    padding: 28px 24px;
    margin-top: 0px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--border-color);
  }
  .ac-header {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .ac-text {
    color: var(--color-text);

    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.03em;
  }
  .ac-trigger {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .ac-trigger[aria-expanded='true']::after {
    transform: translateY(-50%) rotate(180deg) !important;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    right: 0px !important;
  }
  .ac .ac-trigger {
    font: 400 16px Poppins, sans-serif;
    color: var(--color-text);
    text-align: left;
    width: 100%;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.25s ease;
    position: relative;
    text-decoration: none;
    margin: 0;
    border: 0;
  }

  .ac .ac-trigger:focus {
    color: var(--color-text);
    border: none;
  }

  .ac .ac-panel .ac-text {
    font: 16px / 24px Poppins, sans-serif;
    color: var(--color-text);
    padding: 8px;
    margin: 0;
  }

  .ac .ac-header .ac-trigger::after {
    content: url(../img/faqnew.svg);

    background-color: transparent;
    width: 15px;
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
    position: absolute;
    right: 12px;
    top: 40%;
  }
  .ac .ac-header .ac-trigger::after svg {
    stroke: var(--color-text);
    fill: var(--color-text);
  }

  .is-active {
    background-color: rgba(0, 176, 104, 0.2);
    border: none;
    border-radius: 16px;
  }
}
@media screen and (min-width: 768px) {
  .FAQ {
    padding-top: 124px;
    padding-bottom: 62px;
  }

  .headline {
    max-width: 592px;
    font-size: 108px;
    margin-bottom: 60px;
    line-height: 1.15; /* 114.815% */
    letter-spacing: 0.02em;
  }

  .ac {
    width: 656px;
  }
  .ac-header {
    font-size: 20px;
    line-height: 1.6; /* 160% */
  }
  .ac .ac-trigger {
    font: 400 20px Poppins, sans-serif;
  }
}
@media screen and (min-width: 1280px) {
  .faq-body {
    display: flex;
    gap: 104px;
  }
  .faq-bg {
    background-image: url(../img/decor-bg-4.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-clip: padding-box;
    background-position: left bottom 82px;
  }
  .FAQ {
    padding-top: 164px;
    padding-bottom: 82px;
  }
  .headline {
    max-width: 520px;
  }
  .accordion-container {
    margin-top: 276px;
  }
  .ac {
    max-width: 544px;
  }
}
