@media screen and (min-width: 0px) {
  .hero {
    padding-bottom: 80px;
  }
  .heros {
    background-image: url('../img/Hero-bg1.png'), url('../img/Hero-bg2.png');
    padding-top: 112px;
    /* background-clip: padding-box; */
    background-repeat: no-repeat, no-repeat;
    margin: 0 auto;
    background-position: right 21px top 27px, right 24px bottom 30px;
  }
  .hero-title {
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 125%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .hero-avatars {
    display: none;
  }
  .greentext {
    color: var(--accet-green);
  }
  .hero-link {
  }
  .hero-link-design {
    display: flex;

    height: 92px;
    align-items: center;
    gap: 12px;
    justify-content: start;
    position: relative;
    transition: transform 1s ease;
    overflow: hidden;
  }
  .hero-link-design:hover .hero-arrow {
    transition: transform 1s ease-in-out;
    transform: translateX(100px);
  }
  .hero-link-design:hover .hero-design-link {
    transition: transform 1s ease;
    transform: translateX(100px);
  }
  .hero-link-design:hover .hero-design-container {
    background: rgba(0, 176, 104, 0.6);
    overflow: hidden;
  }
  .hero-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 72px;
    margin-top: 40px;
  }
  .hero-arrow {
    stroke: #00b068;
    fill: #00b068;
    transition: transform 1s ease;
  }
  .hero-design-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: transform 1s ease;
    z-index: 1;
  }
  .hero-design-container {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 176, 104, 0.2);
    border-radius: 16px;
    width: 165px;
    height: 90px;
    overflow: hidden;
    transition: all 500ms ease;
  }
  .social-container {
    background: #e4e5e6;
    width: 100%;
  }
  .social-list {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .social-item {
    display: flex;
    justify-content: center;
  }
  .social-link:hover {
    color: var(--accet-green);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 124px;
  }
  .heros {
    padding-top: 88px;
    /* width: 704px; */

    background-repeat: no-repeat, no-repeat;
    background-position: right top 16px, right 184px bottom -10px;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-image: url('../img/hero-tablet-bg.png'),
      url('../img/hero-tablet-bg.png');
    background-clip: padding-box;
  }
  .hero {
  }
  .hero-title {
    font-weight: 400;
    font-size: 136px;
    line-height: 115%;
    margin-bottom: 60px;
  }
  .hero-link-design {
    width: 416px;
    margin-bottom: 40px;
  }
  .hero-design-container {
    border-radius: 16px;
    width: 264px;

    right: 10px;
  }
  .hero-description {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    width: 704px;
  }
  .social-list {
    flex-direction: row;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-bottom: 164px;
  }
  .heros {
    padding-top: 88px;
    /* width: 704px; */

    background-repeat: no-repeat, no-repeat;
    background-position: right 32px top 18px, left 150px bottom -16px;
    background-size: auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-image: url('../img/decorhero-desktop-bg.png'),
      url('../img/decordesktop-down-hero-bg.png');
    background-clip: padding-box;
  }
  .hero-avatars {
    display: block;
    flex-shrink: 0;
    border-radius: 34px;
  }
  .hero-avatars:hover {
    transform: scale(1.01);
    transition: transform 0.3s;
  }
  .heros {
  }
  .hero-title {
    font-size: 124px;
    line-height: 119%;
    letter-spacing: 0.01em;
    margin: 0;
  }
  .hero-title-container {
    display: flex;
  }
  .hero-cont-desription {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .hero-description {
    width: 592px;
    margin: 0;
  }
  .hero-link-design {
    padding-left: 72px;
  }
}
