.my-projects {
  padding-bottom: 80px;
}
.projects-title {
  color: var(--color-text);
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.span-title {
  color: var(--accet-green);
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding-left: 20px;
}

.projects-ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
  align-items: center;
}
.projects-li {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
.projects-img {
  width: 100%;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.projects-sub {
  color: var(--color-text);
  font-family: Poppins;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: 12px;
}
.projects-p {
  color: var(--color-text);
  font-size: 32px;
  font-family: Poppins;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 0.01;
  margin-top: 16px;
  margin-bottom: 16px;
}
.visit-btn {
  color: var(--color-text);
  font-family: Poppins;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding: 12px 24px;
  background: var(--light-grey);
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  transition: background-color 200ms ease-in-out;
  float: right;
}
.btn-visit-icon {
  stroke: var(--accet-green);
  transition: transform 200ms ease-in-out;
}
.visit-btn:hover {
  background-color: rgb(var(--light-grey));
}
.visit-btn:hover .btn-visit-icon {
  transform: translate(5px, -5px);
}
.btn-load-more {
  color: var(--color-text);
  font-size: 18px;
  font-family: Poppins;
  text-transform: uppercase;
  line-height: 1.55;
  letter-spacing: 0.02em;
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 12px 24px;
  position: relative;
  overflow: hidden;
  transition: all 400ms ease-in-out;
}
.btn-load-more::before {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  width: 118px;
  height: 2px;
  background-color: var(--accet-green);
}
.btn-load-more:hover,
.btn-load-more:focus {
  color: var(--accet-green);
}

@media screen and (min-width: 768px) {
  .my-projects {
    padding-bottom: 124px;
  }
  .projects-title {
    font-size: 108px;
    margin-bottom: 60px; /* 114.815% */
  }
  .span-title {
    font-size: 108px;
    line-height: 124px;
  }
  .projects-ul {
  }
  .projects-li {
  }
  .projects-li:not(:last-child) {
    margin-bottom: 60px;
  }
  .projects-img {
    border-radius: 24px;
  }

  .projects-sub {
    margin-top: 16px;
  }

  .projects-p {
    font-size: 36px;
    /* margin-top: 20px; */
    margin-bottom: 0;
    display: inline-block;
    font-weight: 500;
    line-height: 1.33em;
    letter-spacing: 0.01em;
  }
  .visit-btn {
    float: right;
    margin-top: 20px;
    width: 125px;
    height: 48px;
    padding: 12px 24px;
  }
  .btn-load-more {
    width: 165px;
    height: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .container-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 136px;
  }
  .my-projects {
    padding-bottom: 164px;
  }
  .projects-title {
    font-size: 108px;
    margin-bottom: 80px;
  }

  .projects-ul {
  }
  .projects-li {
  }
  .projects-img {
    min-width: 1008px;
  }

  .projects-sub {
    margin-top: 16px;
  }
  .projects-p {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 0;
    display: inline-block;
  }
  .visit-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
