visually-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  height: 1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skillstech {
  background-color: rgb(var(--var-bg));
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 80px;
}

.skillstech-container {
  overflow: hidden;
  width: 100%;
  height: 245px;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: relative;
}

.skills-inner,
.skills-accen {
  display: flex;
  padding: 32px 16px;
}

.skills-inner {
  display: flex;
  background: var(--bg-skills);
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

.skills-accen {
  color: rgb(var(--var-text-green));
  background: var(--light-grey);
  transform: rotate(2deg) translateY(-25px) translateX(-10px);
  position: absolute;
  top: 130px;
  width: 103%;
}

.skills-list {
  display: flex;
  flex-shrink: 0;
  white-space: nowrap;
  animation: skillsLine 20s linear infinite;
}

.skills-line-top,
.skills-line-bott {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  padding-right: 22px;
}

.skills-line-top {
  color: rgb(var(--var-text));
}

.skills-line-bott {
  color: var(--accet-green);
}

.skills-line-top::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  left: 0;
  background: var(--accet-green);
  position: absolute;
}

.skills-line-bott::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 2px;
  left: 0;
  background: var(--color-text);
  position: absolute;
}

@keyframes skillsLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .skillstech-container {
    height: 282px;
    font-size: 36px;
    line-height: 1.3;
    /* 133.333% */
    letter-spacing: 0.01em;
  }

  .skills-inner,
  .skills-accen {
    padding: 40px 16px;
  }

  .skills-accen {
    transform: rotate(2deg) translateX(-10px);
  }
  .skillstech {
    padding-bottom: 124px;
  }
}

@media screen and (min-width: 1280px) {
  .skillstech {
    padding-bottom: 164px;
  }
}
